@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

.toppane{
    width: available;
    height: 80px;
    border-collapse: collapse;
    background:linear-gradient(to right, #040FD9 0%,  #5E83F2 100%);;
}
.container {
    width: 100%;
    height: 100%;
}

.calendar{
    display:inline-block;
    width: 64px; 
	height: 64px; 
	}
#wstęp {
	font-size: 40px;
	text-align: center;
}
.nazwa_strony {
	display: flex;
}
.nazwa_strony h1{
	font-weight: 500;
	font-size: 57px;
	color:#fff;
}
.nazwa_strony .logo img{
	margin: 1rem;
  width: 60px;
}
.categories
{
  background: linear-gradient(to right, #040FD9 0%,  #5E83F2 100%);;
  padding: 100px;
  text-align: center;
}
.categories  .user{
	color:yellow;
}
.categories .premium{
	color:yellow;
}
.categories .free{
	color:yellow;
}
.categories h1 {
	font-size: 50px;
	text-align: center;
	color:#fff;
	font-weight: 600;
}
.categories h2 {
	text-align: center;
	color:#fff;
}
.categories h5{
	text-align: center;
	color:#fff;
}
.categories .container
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  
}
.categories .container .categories-table
{
  position: relative;
  background: #fff;
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.categories .container .categories-table:hover {
	background:#3AAEF2;
}
.categories .container .categories-table img
{
  max-width: 100px;
  color:#1F92C5;
}
.categories .container .categories-table h2
{
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
}
.red {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
	
.media {
width: 100%;
text-align: center;
margin-top: 4px;
cursor: pointer;
padding-left:400px;
}
.media ul { 
list-style: none;
}

.media ul li {
display: inline-block;
margin-right: 15px;
}
.media li:hover {
opacity:0.7;
filter: alpha(opacity=70);
}
.media img {
width: 35px;
height: 35px;
}
.media p {
	text-align: center;
	display: flex;
	position: relative;
	bottom: 6px;
}
.media .profile {
	padding-left: 105px;
}
.media .profile img {
	border-radius: 50%;
  }
.media .logout {
	position: absolute;
	top: 14px;
	right: 60px;
	padding: 1px 1px;
	width: 110px;
	background: #fff;
	box-shadow: 0 0 1em #fff;
	border-radius: 19px;
	visibility: hiddden;
	opacity: 0;
	transition: 0.5s;
	display: flex;
}
.mediaa .logout::before {
	content: '';
	position: absolute;
	top: -5;
	right: 28px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
}
.media .logout::after {
	top:80px;
	visibility: visible;
	opacity: 1;
}
.media .logout a{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-size: 14px;
	font-weight: 500;
	transition: 0.5s;
	position: center;
}
.media .logout img {
	width: 30%;
}
.media .logout a:hover {
	color:#FA553E;
}
.media .logout img:hover{
	opacity: 1;
}
#about {
padding: 100px 0;
display: flex;
align-items: center;
flex-wrap: wrap;
}
#about-alt {
padding: 100px 0;
display: flex;
align-items: center;
flex-wrap: wrap-reverse;
}
.about-left {
flex-basis: 50%;

}
.about-left a {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	background:  #00B0FF;
	color: #ffffff;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
}

.about-right {
flex-basis: 50%;
}

.about-right img {
width:90%;
}
.sections-text {
max-width: 90%;
margin-left: 4rem;
margin-right: 4rem;
display: inline-block;
padding-bottom: 4rem;
font-size: 1.6rem;

}
	  @media (max-width: 991px)
	  {

		.about
		{
		  flex-direction: column;
		}
		.about .contentBx,
		.about .img
		{
		  padding: 50px;
		  width: 100%;
		  min-height: 400px;
		  text-align: center;
		}
		.categories
		{
		  padding: 50px;
		}
		.categories .container
		{
		  justify-content: center;
		  margin-top: 20px;
		}
		.categories .container .categories-table
		{
		  margin: 20px;
		}
		.categories .container .categories-table
		{
		  position: relative;
		  background: #fff;
		  width: 300px;
		  height: 350px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		}

	  }
	#contact {
	height: 100vh;
	background-image: url('contactbg.svg');
	background-position: center;
	background-size: cover;
	bottom:0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;


}
.contact-left-col  {
	flex-basis: 50%;
	margin: 14rem 5rem 0 5rem;
}

.contact-left-col h1 {
	color: #fff;
	font-size: 2rem;
	padding-bottom: 2rem;
	
}

form {
	max-width: 400px;
	margin: 2rem 0 0 0;
}
form input  {
	width: 100%;
	font-family: "Poppins", sans-serif;
	padding: 1rem 0.625rem;
	margin-bottom: 10px;
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 5px;
}

form textarea {
	width:100%;
	font-family: "Poppins", sans-serif;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	border: 2px solid #fff;
	border-radius: 5px;
}

.submit {
	padding: 0.75rem 0.625rem;
	background: transparent;
	height: 50px;
	width: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	outline: none;
	border: 3px solid #fff;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
	margin: 1.875rem 0 1.875rem 0;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;

}
#footer {
	padding: 1rem;
	text-align: center;
	bottom: 0;
	font-family: "Poppins", sans-serif;
	background:  #1F92C5;
	}
#footer li {
	font-size: 12px;
	display:flex;
	overflow: auto;
	float: right;
}
#footer a {
	color:inherit;
}
