@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a {
    text-decoration: none;
}

html {
	scroll-behavior: smooth;
  }
  
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

#header{ 
background:linear-gradient( #040FD9, #1F92C5);
min-height: 8vh;
width: 100%;
display:flex;
}
#header h1{
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem 0;
}

.logo {
flex-basis: 33.3%;
width: 60px;
margin: 1rem;
}


.logout {
flex-basis: 33.3%;
position: fixed;
top: 25px;
right: 5rem; 
z-index: 3;

}

.logout img {
width: 40px;
height: 40px;
margin-right: 1rem;

}



#side_nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    right:-100%;
    top: 0;
    background: linear-gradient( #040FD9, #1F92C5);
    z-index: 2;
    transition: .5s ease-in-out; 
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    transition: all 0.8s ease-in-out;
  }

  #side_nav li:hover {
    transform: scale(1.1); 
    transition: 0.4s ease-in-out;
  }
  
  nav ul li {
    list-style: none;
    margin: 3.125rem 1.25rem;
    text-transform: uppercase;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
  
  #menu {
    width: 50px;
    position: fixed;
    right: 35px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
  }
  
  #menu:hover {
    border-radius: 50%; 
    box-shadow: 0 0 1em #fff;
  }
  
#profile {
    margin: 1.5rem auto;
}


.rodzaj {  
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 80%;
    justify-content: center;
    align-items: center; 
    padding: 0 2rem;

    margin: auto;
}

.rodzaj input {
    font-size:15px;
}
.rodzaj h2 {
    margin: 1rem auto;
    display: inline-block;
    font-weight: 500;
    border-bottom: 2px solid #000000;
    font-size: 30px;
}
.rodzaj ul {
    position: relative;
    font-size: 20px;
}

.rodzaj ul li {
    position: relative;
    list-style: none;
    display: table;
    margin: 1.2rem 0;
    padding-left: 34px;
    padding-right: 5px;
    padding-top: 5px;
}

.rodzaj ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s, width 0.5s;
    border: 2px solid #f29305;
    box-sizing: border-box;
    transition-delay: 0.5s, 0s;
}

.rodzaj ul li:hover::before {
    width: 100%;
    background: #f29305;
    transition-delay: 0s, 0.5s;
}

.rodzaj ul li::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: 0.5s;
    transition-delay: 0s;
}

.rodzaj ul li:hover::after {
    left: 24px;
    transition-delay: 0.5s;
    transform: rotate(45deg) scale(1.5);
}

.rodzaj ul li a {
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
}
.dropdown-menu {
    display: none;
}
.dropdown-menu-2 {
    display: none;
}
.dropdown-menu #sub{
    font-size: 20px;
    font-weight: bold;
}
.dropdown-menu p1 {
    font-size: 19px;
    text-decoration: underline;
}
.dropdown-menu p2 {
    font-size: 14px
}
.dropdown-menu button {
    width: 170px;
    background: -webkit-linear-gradient(left,#040FD9, #0B3ED9);
    border: none;
    outline: none;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.dropdown-menu a {
    text-decoration: underline, bold;
    font-size: 17px;
    color: #1F92C5;
}

.dropdown-menu-2 #sub{
    font-size: 20px;
    font-weight: bold;
}
.dropdown-menu-2 p1 {
    font-size: 19px;
    text-decoration: underline;
}
.dropdown-menu-2 p2 {
    font-size: 14px
}
.dropdown-menu-2 button {
    width: 170px;
    background: -webkit-linear-gradient(left,#FA4D05, #DE2404);
    border: none;
    outline: none;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.picture {

   position: relative;
   text-align:right;
   overflow: auto;


}
.picture img{
    width: 40%;
    left: 3rem;
}


#footer {
	padding: 1rem;
	text-align: center;
	bottom: 0;
	font-family: "Poppins", sans-serif;
    background:  #1F92C5;
    color: #FFF;
    }
    
    @media (max-width: 800px) {
        .picture img {
            width: 60%;
        }
    }

    @media (max-width:600px) {
        .rodzaj{
            width: 100%;
            margin: 1rem auto;
            transition: all 0.8s;
        }
        .rodzaj ul {
            font-size: 1rem;
            transition: all 0.8s;
        }

        .picture img{
            width: 70%;
            transition: all 0.8s;

        }
        #header h1 {
            top: 0.6rem;
            font-size: 1.7rem;
            transition: all 0.8s;
        }
    }