@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a {
    text-decoration: none;
}

html {
	scroll-behavior: smooth;
  }
  


.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}


#profile {
    margin: 1.5rem auto;
}


.rodzaj {  
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 70%;
    justify-content: center;
    align-items: center; 
    padding: 0 2rem;

    margin: auto;
}

.rodzaj input {
    font-size:15px;
}
.rodzaj h2 {
    margin: 1rem auto;
    display: inline-block;
    font-weight: 500;
    border-bottom: 2px solid #000000;
    font-size: 30px;
}
.rodzaj ul {
    position: relative;
    font-size: 20px;
}

.rodzaj ul li {
    position: relative;
    list-style: none;
    display: table;
    margin: 1.2rem 0;
    padding-left: 34px;
    padding-right: 5px;
    padding-top: 5px;
}

.rodzaj ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s, width 0.5s;
    border: 2px solid #f29305;
    box-sizing: border-box;
    transition-delay: 0.5s, 0s;
}

.rodzaj ul li:hover::before {
    width: 100%;
    background: #f29305;
    transition-delay: 0s, 0.5s;
}

.rodzaj ul li::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: 0.5s;
    transition-delay: 0s;
}

.rodzaj ul li:hover::after {
    left: 24px;
    transition-delay: 0.5s;
    transform: rotate(45deg) scale(1.5);
}

.rodzaj ul li a {
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
}


.picture {

   position: relative;
   text-align:right;
   overflow: auto;


}
.picture img{
    width: 40%;
    left: 3rem;
}


#footer {
	padding: 0 1rem;
	text-align: center;
	bottom: 0;
	font-family: "Poppins", sans-serif;
    background:  #1F92C5;
    color: #FFF;
    }
    
    @media (max-width: 800px) {
        .picture img {
            width: 60%;
        }
    }

    @media (max-width:600px) {
        .rodzaj{
            width: 100%;
            margin: 1rem auto;
            transition: all 0.8s;
        }
        .rodzaj ul {
            font-size: 1rem;
            transition: all 0.8s;
        }

        .picture img{
            width: 70%;
            transition: all 0.8s;

        }

        
    }